#pizzas {
  padding: 50px 0;

  .title {
    position: relative;
    h1 {
      @include title;
    }
    .basket-hover {
      position: absolute;
      right: 72px;
      top: 11px;
      width: 50px;
      height: 33px;
      text-align: center;
      background: #0009;
      line-height: 35px;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;
      &::after {
        width: 100%;
        height: 100%;
        background-color: #000;
      }
    }
    .basket-icon {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 30px;
      background: #fff;
      line-height: 50px;
      color: red;
      box-shadow: 0px 0px 6px 4px #e6e6e6d1;
      cursor: pointer;
    }

    .basket-icon:hover .basket-hover {
      opacity: 1;
      visibility: visible;
      transition: all 0.5s;
    }
  }

  .card-span {
    font-size: 25px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 40px;
  }

  .button {
    text-align: center;
    border-left: 2px solid #eceef6;
    border-bottom: 2px solid #eceef6;
    border-bottom-left-radius: 20px;
    transform: rotate(-45deg);
    left: 37%;
    position: absolute;
    padding: 10px;
    bottom: -32px;
    cursor: pointer;
    background-color: #fff;
    button {
      background: transparent;
      border: none;
      border-radius: 30px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      transform: rotate(45deg);
      z-index: 0;
      i {
        font-size: 20px;
        color: #f58656;
        transition: all 0.5s;
      }
      &:hover {
        background-color: #f58656;
        i {
          color: #fff;
          transition: all 0.5s;
        }
      }
    }
  }

  .card {
    position: relative;
    border: 2px solid #eceef6;
  }
}

#pizzas {
  .card .sizes {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffcf;
  }
}
